<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hotelDB" connectionString="Server=.;Database=HotelManagement;Trusted_Connection=True;Encrypt=False;"/>
    <add name="reservationDB" connectionString="Server=.;Database=HotelManagementReservation;Trusted_Connection=True;Encrypt=False;"/>
  </connectionStrings>
</configuration>